.Logo_Logo__1N0xH {
	background-color: white;
	padding: 8px;
	height: 100%;
	box-sizing: border-box;
	border-radius: 5px;
}

.Logo_Logo__1N0xH img {
	height: 100%;
}

.NavigationItem_NavigationItem__2SpXc {
	margin: 10px 0;
	box-sizing: border-box;
	display: block;
	width: 100%;
}

.NavigationItem_NavigationItem__2SpXc a {
	color: #8f5c2c;
	text-decoration: none;
	width: 100%;
	box-sizing: border-box;
	display: block;
}

.NavigationItem_NavigationItem__2SpXc a:hover,
.NavigationItem_NavigationItem__2SpXc a:active,
.NavigationItem_NavigationItem__2SpXc a.NavigationItem_active__2v2td {
	color:#40afc8;
}

@media (min-width: 500px) {
	.NavigationItem_NavigationItem__2SpXc {
		margin: 0;
		display: flex;
		height: 100%;
		width: auto;
		align-items: center;
	}
	
	.NavigationItem_NavigationItem__2SpXc a {
		color: white;
		text-decoration: none;
		height: 100%;
		width: auto;
		padding: 16px 10px;
		border-bottom: 4px solid transparent;
	}
	
	.NavigationItem_NavigationItem__2SpXc a:hover,
	.NavigationItem_NavigationItem__2SpXc a:active,
	.NavigationItem_NavigationItem__2SpXc a.NavigationItem_active__2v2td {
		background-color: #8f5c2c;
		border-bottom: 4px solid #40afc8;
		color: white;
	}
}

.NavigationItems_NavigationItems__1fnFX {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: column;
	align-items: center;
	height: 100%;
}

@media (min-width: 500px) {
	.NavigationItems_NavigationItems__1fnFX {
		flex-flow: row;
	}
}

.Toolbar_Toolbar__ApScI {
	height: 56px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #703B09;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	box-sizing: border-box;
	z-index: 90;
}

.Toolbar_Toolbar__ApScI nav {
	height: 100%;
}

.Toolbar_Logo__3Lk47 {
	height: 80%;
}

@media (max-width: 499px) {
	.Toolbar_DesktopOnly__LuPaL {
		display: none;
	}
}

.DrawToggle_DrawerToggle__1OfNP {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawToggle_DrawerToggle__1OfNP div {
    width: 90%;
    height: 3px;
    background-color: white;
}

@media (min-width: 500px) {
    .DrawToggle_DrawerToggle__1OfNP {
        display: none;
    }
}

.Button_Button__3gFiX {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button_Button__3gFiX:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button_Success__2Rka1 {
    color: #5C9210;
}

.Button_Danger__2ogZq {
    color: #944317;
}

.Modal_Modal__1-5dN {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .Modal_Modal__1-5dN {
        width: 500px;
        left: calc(50% - 250px);
    }
}

.Backdrop_Backdrop__3j6VK {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.Spinner_Loader__1twK-,
.Spinner_Loader__1twK-:before,
.Spinner_Loader__1twK-:after {
  border-radius: 50%;
}
.Spinner_Loader__1twK- {
  color: #531b93;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.Spinner_Loader__1twK-:before,
.Spinner_Loader__1twK-:after {
  position: absolute;
  content: '';
}
.Spinner_Loader__1twK-:before {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: Spinner_load2__2gkgc 2s infinite ease 1.5s;
  animation: Spinner_load2__2gkgc 2s infinite ease 1.5s;
}
.Spinner_Loader__1twK-:after {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: Spinner_load2__2gkgc 2s infinite ease;
  animation: Spinner_load2__2gkgc 2s infinite ease;
}
@-webkit-keyframes Spinner_load2__2gkgc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes Spinner_load2__2gkgc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/*# sourceMappingURL=main.c942d9d4.chunk.css.map*/